<h2>Welcome to Decimals</h2>
<p>Round the answer to the hundredth place</p>

<p>What is </p>
<p>@TempData["prob1"]</p>
<p>-------------</p>
<p>  @TempData["prob2"]</p>  
    <form action = "DecimalAnswer" method = "Post">
        <input type="text" name="Answer">
        <input type="submit" value="Submit Answer">
    </form> 
</p>
<a href = "/">Home</a>

<h2>Right @TempData["score"] | Wrong @TempData["wrong"]</h2>