<h1>Welcome to the Math Game</h1>

<a href = "/add">Addition</a>
<p></p>

<a href = "/subtract">Subtraction</a>
<p></p>
<a href = "/multiply">Multiplication</a>
<p></p>
<a href = "/divide">Division</a>
<p></p>
<a href = "/Remainder">Remainder</a>
<p></p>
<a href = "/Decimals">Decimals</a>
<p></p>
<a href = "/Fraction">Fractions</a>
<p></p>
<a href = "/Power">Power</a>


<h2>Right @TempData["score"] | Wrong @TempData["wrong"]</h2>