<h2>Welcome to Power</h2>
<a href = "/">Home</a>

<p>What is the @TempData["Prob1"] ^ @TempData["prob2"]
        <form action = "PowerAnswer" method = "Post">
        <input type="number" name="powerAnswer">
        <input type="submit" value="Submit Answer">
    </form> 

</p>


<h2>Right @TempData["score"] | Wrong @TempData["wrong"]</h2>