<h2>Welcome to Division and Remainder</h2>

<p>What is @TempData["prob1"] / @TempData["prob2"] =  
    <form action = "RemainderAnswer" method = "Post">
        <input type="number" name="divideAnswer">
        <p>R</p>
        <input type="number" name="RemainingAnswer">
        <input type="submit" value="Submit Answer">
    </form> 
</p>
<a href = "/">Home</a>

<h2>Right @TempData["score"] | Wrong @TempData["wrong"]</h2>