<h2>Welcome to Subtraction</h2>

<p>What is @TempData["prob1"] - @TempData["prob2"] =  
    <form action = "Subtractanswers" method = "Post">
        <input type="number" name="answer">
        <input type="submit" value="Submit Answer">
    </form> 
</p>
<a href = "/">Home</a>

<h2>Right @TempData["score"] | Wrong @TempData["wrong"]</h2>